body {
  background-color: #141414;
}

.image-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -300px auto 0;
  overflow: hidden;
  height: 900px;
  width: 1000px;
  
}

h1 {
  text-align: center;
  margin-top: 300px;
  color: white;
}